In [1]:
# question

In [1]:
a=3
b=3
c=3
c=c+1

print(id(a))
print(id(b))
print(id(c))

140717034781176
140717034781176
140717034781208

### why the id changes ? or remain same from a and b?
All the variable are repsresenting by the same id when allocating to them.Then what is the purpose ?
Python fix the variable allocating to the map. and the variable is immutable , so modification cannot be done when it map in the memory, therfore in a and b the value remain stagnant. wherease as in C the value changed.

### NOTE

Compute the range of the variable having same value. and kis range par jakar value change ho jaa rhi hai

In [2]:
d=10
for i in range(1,150):
    print(id(d))

140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400
140717034781400

## LIST

In [39]:
# List are mutable and can be change, whereas in variable the memory is fixed.

In [3]:
# storing the interger value
list_of_integer=[1,2,3,7,6]
for i in list_of_integer:
    print(i, end=" ")
print(list_of_integer)
print(id(list_of_integer))
print(type(list_of_integer))

1 2 3 7 6 [1, 2, 3, 7, 6]
1914892381248
<class 'list'>

In [4]:
# length of the list
print(len(list_of_integer))

5

In [5]:
# accessing the value from the list
print(list_of_integer[0])

1

In [6]:
print(list_of_integer[-1])  # agar last value to fetch karna hai toh

6

# List function/method

In [7]:
# append
list_of_integer.append(10)
list_of_integer

[1, 2, 3, 7, 6, 10]

In [8]:
list_of_integer.remove(10)

In [9]:
list_of_integer

[1, 2, 3, 7, 6]

In [10]:
# storing list in list
# matrix store
a=[40,50,60]
b=[60,70,80]
c=[a,b]
print(c)

[[40, 50, 60], [60, 70, 80]]

In [11]:
#accessing the matrix
c[0][1]

50

In [12]:
c[1][1]  # [row][column]

70

In [13]:
a*2   # python is general purpose language

[40, 50, 60, 40, 50, 60]

## TUPLE BASIC

In [14]:
# storing the variable in the list that cannot be changes. 
a=(10,11) # tuple immutable hain.modification nhi honge
print(a)

(10, 11)

In [15]:
# append will not work in tuple, as tuple already is immutable
a.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
# count the number of element in the tuple 
a.count(10)

1

## set

In [17]:
# change in set and list :  duplicate value cannot repeats

In [18]:
seta={1,2,3}
print(seta)

{1, 2, 3}

In [19]:
seta.add(2)

In [20]:
print(seta)

{1, 2, 3}

In [21]:
seta.add(5)
print(seta)

{1, 2, 3, 5}

In [22]:
seta.add(2)
print(seta)

{1, 2, 3, 5}

## Dictionary or json

In [23]:
dict1={"name":"adi","batch":"B1"}
dict1

{'name': 'adi', 'batch': 'B1'}

In [24]:
# accesing the key
dict1.keys()

dict_keys(['name', 'batch'])

In [25]:
dict1.values()

dict_values(['adi', 'B1'])

In [26]:
# in json and dict, the key are store in string

In [27]:
# accesing the value in the dictionary
dict1["name"]

'adi'

In [28]:
dict1["batch"]

'B1'

In [29]:
# write a program that take user input in numeric form and print it table

In [30]:
a=int(input("enter the number =>"))

for i in range(1,11):
    val=a*i
    print(f"{a} x {i}=> {val}")

enter the number => 6

6 x 1=> 6
6 x 2=> 12
6 x 3=> 18
6 x 4=> 24
6 x 5=> 30
6 x 6=> 36
6 x 7=> 42
6 x 8=> 48
6 x 9=> 54
6 x 10=> 60

In [31]:
#Question

In [32]:
# write a function that gives sum ,average, min and maximum of all the input argument

In [34]:
def calc(a,b,c):
    sum1=a+b+c
    average=sum1/3
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c)}")
    print(f"maximum of the number is {max(a,b,c)}")

x= int(input("enter the value 1=> "))
y= int(input("enter the value 2=> "))
z= int(input("enter the value 3=> "))
calc(x,y,z)

enter the value 1=>  6
enter the value 2=>  4
enter the value 3=>  2

sum of the number is 12
average of the number is 4.0
minimum of the number is 2
maximum of the number is 6

In [35]:
# what is the user want to add more argument

def calc(a,b,c,d=0,e=0):
    sum1=a+b+c+d+e
    average=sum1/5
    print(f"sum of the number is {sum1}")
    print(f"average of the number is {average}")
    print(f"minimum of the number is {min(a,b,c,d,e)}")
    print(f"maximum of the number is {max(a,b,c,d,e)}")

calc(10,20,30,40,50)
print()
calc(10,20,40)

sum of the number is 150
average of the number is 30.0
minimum of the number is 10
maximum of the number is 50

sum of the number is 70
average of the number is 14.0
minimum of the number is 0
maximum of the number is 40

In [36]:
def calc(a,b,*args):
    print(a)
    print(b)
    print(args)

calc(10,20,30,40,50)
print()
calc(10,20,40)

10
20
(30, 40, 50)

10
20
(40,)